<?xml version="1.0"?>
<model>
  <name>LidarLite</name>
  <version>1.0</version>
  <sdf version='1.6'>LidarLite.sdf</sdf>

  <author>
   <name>Martin Deegan</name>
   <email>mdeegan@umich.edu</email>
  </author>

  <description>
    This is a model of the D435 realsense camera
  </description>
</model>
