[submodule "thirdparty/Sophus"]
	path = thirdparty/Sophus
	url = https://github.com/strasdat/Sophus.git
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "thirdparty/mavlink"]
	path = thirdparty/mavlink
	url = https://github.com/mavlink/mavlink.git
	ignore=dirty
[submodule "thirdparty/Firmware"]
	path = thirdparty/Firmware
	url = https://github.com/PX4/Firmware.git
	ignore=dirty
