build
lib
bin
*.swp
*.vim
*~
\#*\#
*.pdf
*.eps
*.exe
tags
build
build-*
april/bin/*
*.o
*.a
*.so
.DS_Store
CMakeFiles
CMakeCache.txt
Out*
DataCoordImages
*sim_output.txt
compile_commands.json
*.csv
.vscode
.idea
