build
lib
bin
logs
testBin/
datasets/
Testing/
Vocabulary/
cmake-build-debug/
*.swp
*.vim
*~
\#*\#
*.pdf
*.eps
*.exe
tags
build
build-*
april/bin/*
*.o
*.a
*.so
*.DS_Store
CMakeFiles
CMakeCache.txt
Out*
DataCoordImages
*sim_output.txt
compile_commands.json
*.csv
*.vscode
*.idea
thirdparty/opencv
thirdparty/apriltags
thirdparty/Qt5
.syntastic_cpp_config
CameraTrajectory.txt
KeyFrameTrajectory.txt
debug_*.pnm
debug_*.ps