<?xml version="1.0"?>
<model>
  <name>maav_iris</name>
  <version>1.0</version>
  <sdf version='1.6'>maav_iris.sdf</sdf>

  <author>
   <name>Martin Deegan</name>
   <email>mdeegan@umich.edu</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor customized for MAAV.
  </description>
</model>
